<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sipanduteam.sipandu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sipandu"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.informasi.InformasiShowActivity"
            android:label="Peta penyebaran posyandu"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity android:name=".activity.AnggotaKeluargaActivity" />
        <activity
            android:name=".activity.WaitForVerifiedActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterDataComplete"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterDataLansiaActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterDataIbuActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterDataAnakActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterComplete"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterContinueActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity android:name=".activity.pengumuman.PengumumanActivity" />
        <activity
            android:name=".activity.informasi.InformasiActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity android:name=".activity.anak.RiwayatKunjunganAnakActivity" />
        <activity
            android:name=".activity.posyandu.PosyanduJadwalActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.NotificationActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.posyandu.KonsultasiTelegramActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity android:name=".activity.informasi.InformasiDetailActivity" />
        <activity
            android:name=".activity.posyandu.PosyanduMapActivity"
            android:label="Peta penyebaran posyandu"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.ForgotpassActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sipandu.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sipandu.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>